  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: gilroy;
      caret-color: transparent;
  }

  html,
  body {
      height: 100%;
      width: 100%;
  }

  main {
      height: 100%;
      width: 100%;
      background-color: #5B7553;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
  }


  .container {
      height: 40%;
      display: flex;
  }

  .container .box-odd {
      height: 100%;
      width: 3rem;
      background-color: white;
      border-radius: 0 0 50px 50px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 1rem;
      font-size: 1.5rem;
      border: 1px solid red;
      transition: all ease 0.1s;


  }

  .container .box-even {
      height: 90%;
      width: 3rem;
      background-color: black;
      border-radius: 0 0 50px 50px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 1rem;
      font-size: 1.5rem;
      color: white;
      transition: all ease 0.2s;
  }

  .keyPress {
      transform: translateY(5px);
  }